{% extends 'mailing/base.html' %}
{% block content %}
<a class="btn btn-success btn-lg"
   href="{% url 'mailing:message_create' %}"
   role="button">Создать сообщение
</a>
<div class="row">
    {% for object in object_list %}
        <div class="col-md-4">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <p class="card-text">{{ object.subject_message }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'mailing:message_detail' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Открыть</a>
                            <h1></h1>
                            <a href="{% url 'mailing:message_update' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Изменить</a>
                            <h1></h1>
                            <a href="{% url 'mailing:message_delete' object.pk %}"
                               class="btn btn-sm btn-outline-secondary">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<div class="col-12">
    <a href="{% url 'mailing:index_list' %}" class="btn btn-secondary m-2"><< Назад</a>
</div>

{% endblock %}